.hero,
footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-sec-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

button,
.bottom {
    background-color: #3882F6;
}

.information {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

a {
    text-decoration: none;
}

.hero-rest img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border-color: #3882F6;
    color: white;
}

.picture-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 50px;
    text-align: center;
}

.pictures {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}

img {
    height: 150px;
    width: auto;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.credit {
    align-self: flex-end;
    font-weight: bold;
}

.quote-text {
    margin-bottom: 0;
}

.bottom button {
    border-color: white;
}

.bottom {
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}

.bottom-text {
    display: flex;
    flex-direction: column;
}

.click {
    margin-top: 0;
}

.call-to-action {
    margin-bottom: 0;
}

footer {
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.links {
    display: flex;
    gap: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}

.hero button {
    align-self: flex-start;
}

.hero-rest {
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    gap: 200px;
}

.hero {
    padding-bottom: 50px;
}

body {
    margin: 0;
}